/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
        /*  CSS RESET   */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, h1 {
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
}

/* PAGE LAYOUT */
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 5rem 1fr .5fr;
}

/* HEADER LAYOUT */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.branding {
    display: grid;
    font-size: 1.5rem;
    font-weight: bolder;
    grid-template-columns: .8fr 2fr;
    justify-items: center;
    align-items: center;
}

.login {
    width: 4.5rem;
    height: 2rem;
    font-size: 1rem;
}

/* MAIN LAYOUT */
main {
    display: grid;
    grid-template-rows: 4rem 1fr;
    gap: 1rem;
    padding: 1rem;
    grid-row: 2/4;
    position: relative;
}

/* BUTTON FIELD */
.button-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

#new-book {
    border: none;
    border-radius: 16px;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 1em;
}

/* FORM */
#form-container {
    position: absolute; 
    justify-content: center;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 300px;
    padding: 2rem;
    box-shadow: 0 0 0 100vw hsla(278, 48%, 5%, 0.4);
}

#close-form {
    height: 2rem;
    width: 5rem;                   
}

form {
    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#read-status {
    height: 1rem;
    accent-color: #401e4b;
    grid-row: 4/5;
}

input, .submit, #close-form {
    height: 2.5rem;
    width: 15rem;
    text-align: center;
    font-size: 1rem;
}

/* CARD CONTAINER */
#card-container {
    width: 100%;
    grid-row: 2/4;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
  
}

.cards {
    border: 3px solid #401e4b;;
    padding: 10px;
    text-align: center;
    height: 230px;
    width: 250px;
    display: grid;
    gap: .5rem;
    box-shadow: 2px 2px 15px #401e4b;
}

button{
    font-size: 1rem;
    border: none;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 4/5;
    padding: 3em;
}

.footer-link {
    font-weight: bolder;
    color: #4A4063;
}

/* COLOR STYLING */
header {
    background-color: #4A4063;
    color: white;
}

main {
    background-image: linear-gradient(#BFACC8, white);
}

#new-book, .submit, .remove-button, .toggle-read:hover{
   background-color: #643A71;
}

#close-form {
    background-color: white;
}

#close-form:hover {
    background-color: rgb(197, 114, 114)
}

#new-book:hover, .submit:hover,
.remove-button:hover, .toggle-read
 {
    color: white;
    background-color: #401e4b;
}

#form-container, .cards {
    background-color: #BFACC8;
}

input, button {
    border: none;
}

input:focus {
    outline: none;
}


/* BORDER STYLING - RADIUS */
#form-container,
input,
.cards,
button {
    border-radius: 16px;
}
